    html {
        font-family: 'Bebas Neue', cursive;
    }
    
    h2 {
        font-size: 50px;
    }
    
    p {
        font-size: 25px;
    }
    
    a {
        font-weight: bold;
        font-size: 25px;
    }
    
    h5 {
        padding-left: 20vh;
        font-weight: bold;
    }
    
    h6 {
        padding-top: 3vh;
    }
    
    button {
        border: none;
        background-color: white;
    }
    
    #caja-botones {
        padding-top: 2vh;
    }
    
    #botoncitos {
        padding-bottom: 1vh;
    }
    
    #info {
        margin-bottom: 10vh;
    }
    
    .boton1 {
        padding-right: 4vh;
    }
    
    #portadajuguetes {
        background-image: url(/assets/perrojuguetes.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        height: 40vh;
        width: 100%;
    }
    
    #portadafarmacia {
        background-image: url(/assets/portadafarmacia.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        height: 40vh;
        width: 100%;
    }
    
    #portadacontacto {
        background-image: url(/assets/portadacontacto.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        height: 40vh;
        width: 100%;
    }
    
    #infotitulo {
        font-size: 20px;
        text-transform: uppercase;
        font-weight: bold;
    }
    
    #botonPrecio {
        text-transform: uppercase;
        font-weight: bold;
    }
    
    footer {
        background-color: #7640b9;
        padding-top: 3vh;
        color: white;
        width: 100%;
        align-items: center;
    }
    
    .card-title {
        font-size: 1.9vh;
        display: flex;
        margin-top: 2vh;
        margin-bottom: 0vh;
    }
    
    #comprar {
        width: 100%;
    }
    
    #margen {
        margin-bottom: 15vh;
        height: 60vh;
        margin-top: 1vh;
    }
    
    .ocultar {
        display: none;
    }
    
    .cantidadP {
        font-size: 20px;
    }
    
    .item #cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(31, 148, 255, 0.95);
        transition: opacity 0.15s ease-in;
        opacity: 0;
        padding-top: 80px;
        color: #fff;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15)
    }
    
    #inputAddress2 {
        height: 15vh;
    }
    
    form {
        background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    }
    
    .portadaHuesos {
        margin-bottom: 7vh;
    }
    
    .item:hover #cover {
        opacity: 1
    }
    
    .descripcion {
        font-weight: bold;
        font-size: 20px;
        text-align: center;
    }
    
    #tituloProducto {
        font-weight: bold;
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        font-size: 19px;
    }
    
    #tituloObjeto {
        margin-right: 6vh;
    }
    
    .botonVerde {
        font-size: 20px;
    }
    
    .cantidad {
        font-weight: bold;
        font-size: 20px;
    }
    
    .servicios {
        margin-left: 10vh;
    }
    
    .copy {
        padding-right: 15vh;
    }
    
    #bienvenidos,
    #ubicacion {
        background-color: #00f2fe;
        margin-top: 5vh;
    }
    
    iframe {
        height: 50vh;
    }
    
    @media (max-width:1200px) {
        #infoN,
        .resumen,
        .logoFooter {
            display: none;
        }
    }
    
    @media (min-width:1200px) {
        .infoT {
            display: none;
        }
    }
    
    @media (max-width: 600px) {
        #caja-botones {
            width: 100%;
        }
        #carouselExampleControls {
            width: 100vw;
        }
        .resumen,
        .logoFooter,
        #mapa,
        #infoN {
            display: none;
        }
        #vete {
            width: 100vw;
            height: 45vh;
        }
        .gatos {
            width: 100vw;
        }
        .titulo {
            font-size: 1.2rem;
        }
        .copyR {
            padding-left: 0;
            font-size: 1rem;
        }
        .infoT {
            font-size: 1.2rem;
            text-align: justify;
        }
        #margen {
            height: 90vh;
        }
        footer {
            width: 100%;
        }
        .tituloJuguete,
        .tituloFarmacia,
        .tituloContacto {
            font-size: 2rem;
            background-color: #00f2fe;
            padding-top: 0;
        }
        .botonPrecio {
            margin-bottom: 0.5vh;
        }
        .fotoproducto {
            width: 80px;
            height: 80px;
        }
        #margen {
            margin-right: 6vh;
        }
    }